@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  width: 100px;
  cursor: pointer;
}

nav button {
  border: 0;
  outline: 0;
  padding: 8px 10px;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
  background-color: #e50914;
  cursor: pointer;
}

.btn-bahasa {
  background: transparent;
  border: 1px solid white;
  display: inline-flex;
  padding: 7px 10px;
  align-items: center;
}

.btn-bahasa span {
  margin-left: 10px;
  rotate: 90deg;
}

button:hover {
  opacity: 0.8;
}

/* main banner */
.container {
  padding: 0 7%;
  margin: 0 auto;
  max-width: 1200px;
}
.btn {
  padding: 15px 25px;
  font-size: 20px;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}
.btn-primary {
  background-color: #e50914;
  border: 2px solid #e50914;
  color: #fff;
}
.btn-primary:hover {
  background-color: transparent;
  transition: all 0.3s ease;
  color: #e50914;
}
/* ============= BANNER =================== */
#banner {
  width: 100%;
  height: 100vh;
  background-color: #000;
  overflow-x: hidden;
  background: url("asets/banner-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
#banner .content {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
#banner .content .top-content {
  text-align: center;
}
#banner .content .top-content h1 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 3rem;
  margin-bottom: 40px;
}
#banner .content .top-content p {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  font-size: 25px;
  margin-bottom: 20px;
}
#banner .content .search-form {
  width: 100%;
}
#banner .content .search-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
#banner .content .search-form form input {
  display: inline-block;
  padding: 15px 20px;
  border: 1px solid #b1b1b1;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 20px;
  outline-color: #fff;
  width: 400px;
  border-radius: 3px;
}
/* Responsive Banner */
@media screen and (max-width: 992px) {
  #banner .content .top-content {
    max-width: 80%;
    text-align: center;
  }
  #banner .content .top-content h1 {
    font-size: 2.7rem;
  }
  #banner .content .top-content p {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 768px) {
  #banner .content .top-content {
    max-width: 100%;
    text-align: center;
  }
  #banner .content .top-content h1 {
    font-size: 2.2rem;
  }
  #banner .content .top-content p {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 576px) {
  #banner .content .top-content h1 {
    font-size: 1.9rem;
  }
  #banner .content .top-content p {
    font-size: 1rem;
  }
  #banner .content .search-form form {
    flex-direction: column;
  }
  #banner .content .search-form form input {
    width: 100%;
  }
  .btn-primary {
    width: 100%;
  }
}
/* End of Responsive Banner */
/* body */
.contents .content-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contents .content {
  flex-direction: column;
}

.content-card {
  border-bottom: 5px solid gray;
  padding: 50px 0;
}

.card-text {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.card-text a {
  box-shadow: inset 0 0 0 0 #54b3d6;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  color: black;
  text-decoration: none;
  font-size: 50px;
  text-align: left;
}

.card-text a:hover {
  box-shadow: inset 400px 0 0 0 #54b3d6;
  color: white;
}

.card-text p {
  font-size: 16px;
}

.card-image {
  display: flex;
  width: 30%;
}

.img-card {
  width: 100%;
  height: 250px;
}

@media all and (max-width: 1000px) {
  .contents .content-card {
    width: 100%;
  }

  .card-text {
    width: 40%;
    display: flex;
  }

  .card-text a {
    box-shadow: inset 0 0 0 0 #54b3d6;
    margin: 0 -0.25rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    color: black;
    text-decoration: none;
    font-size: 42px;
  }

  .card-text a:hover {
    box-shadow: inset 400px 0 0 0 #54b3d6;
    color: white;
  }

  .card-text p {
    font-size: 12px;
  }

  .card-image {
    width: 40%;
  }

  .img-card {
    width: 250px;
    height: 250px;
  }
}

@media all and (max-width: 670px) {
  .contents .content-card {
    width: 100%;
    flex-direction: column;
  }
  .card-text {
    width: 100%;
  }

  .card-title,
  .card-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    /*     padding-left: 20px; */
  }

  .card-image {
    justify-content: center;
    align-items: center;
  }

  .card-title a {
    font-size: 30px;
    text-align: center;
  }
  .card-desc p {
    font-size: 20px;
    text-align: center;
  }
}

/* form */
.form-wrapper {
  width: 35%;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 4px 6px;
  padding: 15px;
  font-family: "Poppins", sans-serif;
}

.form-header {
  text-align: center;
}

.form-header p {
  color: grey;
  font-size: 15px;
}

.form-content {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  height: 30px;
  width: 223px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  outline: none;
  padding: 0 5px;
  margin-bottom: 10px;
}

.input:focus {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.list-category {
  margin: 5px 0 25px 0;
  display: flex;
}

.categories {
  margin-right: 5px;
}

.other {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 70px;
}

.other:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px;
}

.btn-submit {
  height: 30px;
  width: 50%;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 5px;
  font-weight: normal;
  font-size: 15px;
}

.btn-submit:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.15);
  position: relative;
  top: -5px;
}

.btn-submit:active {
  top: 0;
}

@media (max-width: 1000px) {
  .form-wrapper {
    width: 60%;
  }
}

@media (max-width: 670px) {
  .form-wrapper {
    width: 80%;
  }

  .form-header h2 {
    font-size: 18px;
  }

  .form-header p {
    font-size: 12px;
  }

  .category label {
    font-size: 10px;
  }
}

/* footer */
.footer {
  background-color: #0f0f0f;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  margin-top: 80px;
  font-family: "Poppins", sans-serif;
}
.footer .footer-container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer .footer-left {
  width: 30%;
}

.footer-left h4 {
  font-weight: normal;
  color: #fff;
  margin-bottom: 10px;
}
.pembayaran {
  width: 100%;
}

.pembayaran img {
  width: 50px;
  vertical-align: middle;
  margin-right: 5px;
  padding: 5px;
  background-color: rgb(240, 248, 254);
  border-radius: 5px;
}

.footer .footer-copyright {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  margin: 0px;
  padding-top: 20px;
}

.footer .footer-center {
  width: 30%;
}
.footer .footer-right {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .footer-right div {
  display: flex;
  gap: 15px;
}

.footer .footer-right i {
  background-color: rgba(225, 225, 225, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: right;
  line-height: 42px;
  vertical-align: middle;
}

.footer .footer-right i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-right p {
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  margin: 0px;
}

.footer .footer-right p a {
  color: rgb(240, 248, 254);
  text-decoration: none;
}

.footer .footer-about {
  line-height: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  margin: 0px;
}

.footer .footer-media {
  margin-top: 10px;
}

.footer .footer-media a {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  text-align: center;
  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 800px) {
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    width: 100%;
  }
}
@media (max-width: 670px) {
  .footer-container {
    flex-direction: column;
  }
}
