@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
    width: 100%;
    padding: 12px 0;
    position: fixed;
    z-index: 10;
    background-color: black;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo{
    width: 100px;
    cursor: pointer;
}

nav button{
    border: 0;
    outline: 0;
    padding: 8px 10px;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    background-color: #e50914;
    cursor: pointer;
}

.btn-bahasa{
    background: transparent;
    border: 1px solid white;
    display: inline-flex;
    padding: 7px 10px;
    align-items: center;
}

.btn-bahasa span {
    margin-left: 10px;
    rotate: 90deg;
}

button:hover{
    opacity: 0.8;
}

/* main banner */
.container {
  padding: 0 7%;
  margin: 0 auto;
  max-width: 1200px;
}
.btn {
  padding: 15px 25px;
  font-size: 20px;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}
.btn-primary {
  background-color: crimson;
  border: 2px solid crimson;
  color: #fff;
}
.btn-primary:hover {
  background-color: transparent;
  transition: all 0.3s ease;
  color: crimson;
}
/* ============= BANNER =================== */
#banner {
  width: 100%;
  height: 100vh;
  background-color: #000;
  overflow-x: hidden;
  background: url("images/banner-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
#banner .content {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
#banner .content .top-content {
  text-align: center;
}
#banner .content .top-content h1 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 3rem;
  margin-bottom: 40px;
}
#banner .content .top-content p {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  font-size: 25px;
  margin-bottom: 20px;
}
#banner .content .search-form {
  width: 100%;
}
#banner .content .search-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
#banner .content .search-form form input {
  display: inline-block;
  padding: 15px 20px;
  border: 1px solid #b1b1b1;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 20px;
  outline-color: #fff;
  width: 400px;
  border-radius: 3px;
}

/* body */
.contents .content-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contents .content {
    flex-direction: column;
}

.content-card {
    border-bottom: 5px solid gray;
    padding: 50px 0;
}

.card-text {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.card-text a {
    box-shadow: inset 0 0 0 0 #54b3d6;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    color: black;
    text-decoration: none;
    font-size: 50px;
    text-align: left;
}

.card-text a:hover {
    box-shadow: inset 400px 0 0 0 #54b3d6;
    color: white;
  }

.card-text p {
    font-size: 16px;
}

.card-image {
    display: flex;
    width: 30%;
}

.img-card {
    width: 100%;
    height: 250px;
}

@media all and (max-width: 1000px) {
    .contents .content-card {
        width: 100%;
    }
    
    .card-text {
        width: 40%;
        display: flex;
    }
    
    .card-text a {
        box-shadow: inset 0 0 0 0 #54b3d6;
        margin: 0 -.25rem;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
        color: black;
        text-decoration: none;
        font-size: 42px;
    }

    .card-text a:hover {
        box-shadow: inset 400px 0 0 0 #54b3d6;
        color: white;
      }

    .card-text p {
        font-size: 12px;
    }
    
    .card-image {
        width: 40%;
    }

    .img-card {
        width: 250px;
        height: 250px;
    }
}

@media all and (max-width: 670px) {
    .contents .content-card {
        width: 100%;
        flex-direction: column;
    }
    .card-text {
        width: 100%;}

    .card-title, .card-desc {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
    }

    .card-desc p {
        font-size: 25px;
    }

    .card-image {
        justify-content: center;
        align-items: center;
    }
    
    .card-title a{ 
        font-size: 30px;
        text-align: center;
    }
    .card-desc p {
        font-size: 20px;
        text-align: center;
    }

}

/* form */
.form-wrapper {
    width: 35%;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 4px 6px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}

.form-header {
    text-align: center;
}

.form-header p {
    color: grey;
    font-size: 15px;
}

.form-content {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    height: 30px;
    width: 223px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    outline: none;
    padding: 0 5px;
    margin-bottom: 10px;
}

.input:focus {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.list-category {
    margin: 5px 0 25px 0;
    display: flex;
}

.categories {
    margin-right: 5px;;
}

.other {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 70px
}

.other:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px;
}

.btn {
    height: 30px;
    width: 50%;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color:rgba(0, 0, 0, 0.1);
    padding: 0 5px;
    font-weight: normal;
    font-size: 15px;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
    position: relative;
    top: -5px;
}

.btn:active {
    top: 0;
}

@media (max-width: 1000px) {
    .form-wrapper {
        width: 60%;
    }
}

@media (max-width: 670px) {
    .form-wrapper {
        width: 80%;
    }

    .form-header h2 {
        font-size: 18px;
    }

    .form-header p {
        font-size: 12px;
    }

    .category label {
        font-size: 10px;
    }
}

/* footer */
footer {
    bottom: 0;
}

.footer {
    background-color: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px;
    margin-top: 80px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}

@media (max-height:800px) {
    header {
        padding-top: 40px;
    }
}

.footer .footer-left {
    width: 30%;
}

.footer h3 {
    color: #fff;
    margin: 0px;
    padding-bottom: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer .footer-left img {
    width: 30%;
    vertical-align: middle;
}

.footer .footer-left .pembayaran {
    width: 100%;
}

.footer .footer-copyright {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    margin: 0px;
    padding-top: 30%;
}

.footer .footer-center {
    width: 30%;
}

.footer .footer-about {
    line-height: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    margin: 0px;
}


.footer .footer-media {
    margin-top: 25px;
}

.footer .footer-media a {
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    text-align: center;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer .footer-media a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.footer .footer-right {
    width: 35%;
}

.footer .footer-right i {
    background-color: #000;
    color: #000;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: right;
    line-height: 42px;
    /* margin: 10px 15px; */
    vertical-align: middle;
}

.footer .footer-right i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer .footer-right p {
    display: inline-block;
    color: #000;
    vertical-align: middle;
    margin: 0px;
}

.footer .footer-right p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer .footer-right p a {
    color: rgb(240, 248, 254);
    text-decoration: none;
}

@media (max-width: 800px) {
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
    display: block;
    width: 100%;
}
}
